
header{
    
    padding:3px;
    height: 80px;



}

.logo, .menyu{
    
    float: left;
    padding: 3px;
    width: 50%;
    box-sizing: border-box;
    padding: 3px;


}

div{
    display: block;
}
.logo{
    width: 15%;
    background-color: grey;
    font-size:large;
    padding: 10px;

}
.menyu{
    width: 70%;
    padding: 12px;
    background-color: ;
    margin: 0;
    
}



.ul-menyu{
    
    list-style: none;
    padding:0px;
    

}
.ul-menyu li{ 
    
    list-style-position: inside;
    margin:0px;
    float:left;
    width: 25%;
    box-sizing:border-box;
    
}
.ul-menyu>li>a:hover{
    display:block;
    text-decoration: none;
background-color: blue;
color:azure;

}